body {

		background-color:#eff0e8;
		font-size:18px;
		font-family: Calibri, Helvetica;
    margin: 0;
    padding: 80px 0 0;
		justify-content: center;
		align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #932432;
    font-family: "Poppins", sans-serif;
}

.logo {
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
    .nav-links {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .nav-links {
        position: fixed;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #932432;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
        cursor: pointer;
    }
}

.nav-active {
        transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.graduated-img{
    position: inherit;
    top: 10px;
}
.center{
	transform: translate(10%, 25%);
	font-family: Poppins;
}
.center h1{
	font-size: 88px;
	font-weight: bold;
	letter-spacing: 5px;
}
.center h6{
	font-size: 44px;
	font-weight: lighter;
}
.center button{
	margin: 35px 280px;
}
.buttons button{
	font-weight: bold;
	letter-spacing: 1px;
	height: 75px;
	width: 200px;
	font-size: 24px;
	color: #3c1874;
	background: #dce1e3
	border: 1px solid #de354c;
	outline: none;
	cursor: pointer;
}

.body-list {
	width: 85%;
	margin: 0 auto;
}


.list li {
	text-decoration: none;
	font-family: Poppins;
	font-weight: lighter;
	font-size: 21px;
}
.title h2 {
	font-family: Poppins;
	font-weight: bold;
	font-size: 38px;
}
.bold-a b {
	color: #932432;
}
.list ul li {
	padding: .3rem 0;
}
.list ul li a {
	color: black;
	text-decoration: none;
	position: relative;
}
.list a::before {
	content: '';
	width: 4px;
	height: 4px;
	background-color: #932432;
	position: absolute;
	right: -4px;
	bottom: 0;
	opacity: 0
}
.list a::after {
	content: '';
	position: absolute;
	left: 4px;
	bottom: 0;
	background-color: #932432;
	width: 0;
	height: 1px;
}
.list a:hover::after {
	animation: widthAnim .4s forwards .1s;
}
@keyframes widthAnim {
	0% {
		width: 100%
	}

	50% {
		opacity: 0%
	}
}

.list a:hover::widthAnim {
	animation: blink .4s forwards .1s;
}

.list a:hover::before {
	opacity: 1;
	animation: blink .4s infinitic .1s;
}
@keyframes blink {
	0% {
		opacity: 1
	}

	50% {
		opacity: 0
	}

	100% {
		opacity: 1
	}
}

body-card {
	  background-color: #eee;
	  font-family: "Poppins", sans-serif;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  min-height: 100vh;
	}
}

.grid {
  display: grid;
  width: 114em;
  grid-gap: 6rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  align-items: start;
}

.grid-item {
  background-color: #eeeeee;
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.2s;
}

.grid-item:hover {
  transform: translateY(-0.5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
}

.card-img {
  display: block;
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.card-content {
  padding: 3rem;
}

.card-header {
  font-size: 3rem;
  font-weight: 500;
  color: #0d0d0d;
  margin-bottom: 1.5rem;
}

.card-text {
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  line-height: 1.7;
  color: #3d3d3d;
  margin-bottom: 2.5rem;
}

.card-btn {
  display: block;
  width: 100%;
  padding: 1.5rem;
  font-size: 2rem;
  text-align: center;
  color: #B73225;
  background-color: #5C5F85;
  border: none;
  border-radius: 0.4rem;
  transition: 0.2s;
  cursor: pointer;
  letter-spacing: 0.1rem;
}

.card-btn span {
  margin-left: 1rem;
  transition: 0.2s;
}

.card-btn:hover,
.card-btn:active {
  background-color: #c2cffc;
}

.card-btn:hover span,
.card-btn:active span {
  margin-left: 1.5rem;
}

@media only screen and (max-width: 60em) {
  body {
    padding: 3rem;
  }

  .grid {
    grid-gap: 3rem;
  }
}
.container1 {
	width: 70%;
	margin: 0 auto;
}
.container1 a {
	color: #3C1874;
	text-decoration: none;
}
.container1 b{
	color: #DE354C
}
.container1 img{
	position: relative;
	left: -4px;
	top: 9px;
}
.container1 p{
	line-height: 1.5em;
	font-size: 20px;
	margin-bottom: 22px;
}
iframe {
	width: 100%;
	margin: 0 auto;
}
